*{
    background-color: aqua;
}
.Actividad{
    border-style: solid;
    margin: 20px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 500px;
    height: 30px;
    margin-left: 850px;
    background-color: aliceblue;
}
h1{
    margin-left: 960px;
}