*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  
}

h1{

    margin-top: 10px
}
h2{

    margin-top: 10px;
    color: brown;
}
aside{
     margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


#Freezer{
    width: 250px;
    filter: blur(5px);
    
}
#Freezer:hover {
    filter: blur(0);
}
#Mario{
    width: 250px;
    margin-left: 100px;
    filter: blur(5px);
}
#Mario:hover {
    filter: blur(0);
}
#Goku{
    filter: blur(5px);
    width: 250px;
    margin-left: 100px
    
    
}
#Goku:hover {
    filter: blur(0);
}
