*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{  
      display: grid;
      grid-template-columns: 15% 55% 30%;
      margin: 2vw;
      grid-template-areas: "header header header"
                           "section main aside"
                           "imagen imagen nav"
                           "footer footer footer";  
}
header{
      grid-area: header;
      border: 0.3vw solid greenyellow;
      padding: 2vw;
      text-align: center;
      color: blue;
      font-weight: bold;
}
section{
      border: 0.3vw solid red;
      padding: 2vw;
}
section li{
      list-style: none;
      padding: 0.5vw;
      border: 0.3vw solid red;
      margin: 0.5vw;
      text-align: center;
}
section li:hover{
      background-color: yellow;
}
main{
      border: 0.3vw solid purple;
      padding: 6vw;
      grid-area: main;
}
aside{
      border: 0.3vw solid lightskyblue;
      padding: 2vw;
      grid-area: aside;
      grid-template-columns: auto auto;
      display: grid;
      grid-template-rows: auto auto auto auto;
}
.imagen{
      grid-area: imagen;
      background-color: yellow;
      padding: 3vw;
      display: flex;
      justify-content: center;
}
img{
      width: 100%;
      height: auto;
}
nav{
      grid-area: nav;
      border: 0.3vw solid orchid;
      display: flex;
      justify-content: center;
}
.nav{
      list-style: none;
      display: flex;
      border: 0.3vw solid orchid;
      margin: 2vw;
      padding: 2vw;
}
.nav:hover{
      background-color: lightpink;
}
footer{
      grid-area: footer;
      border: 0.3vw solid maroon;
      background-color: lightpink;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
}
footer div{
      border: 0.3vw solid maroon;
      padding: 2vw;
      background-color: linen;
      margin: 1vw;
}
.div1{
      grid-column: 1 / 3;
}
.div2{
      grid-row: 2 / 4;
      background-color: coral;
}
.div3{
      background-color: lightsalmon;
}

