.contenedor {
 display: flex;
justify-content: center;
margin-top: 300px;

}

.item1{
 background: blue;
 padding: 10px;
 margin-top: 5px;
 width: 200px;
 height: 200px;
}
.item2{
    background-color: blueviolet;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    flex-grow: 2;
}
.item3{
    background-color: violet;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    flex-shrink: 15;
}
.item4{
    background-color: darksalmon;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    flex-grow: 2;
}
.item5{
    background-color: salmon;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
}
.item6{
    background-color: brown;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
}
.enlace{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
   
}
a{
    margin: 15px;
    font-size: 25px;
}
.letra{
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
.palabra{
    font-size: 20px;
    text-align: center;
}
